.sport_spc {
  max-width: 1050px;
    min-width: 1050px;
    max-height: 98px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 20px;
  margin: 0 auto;
}

.inputSeparator {
  position: relative;
  padding-right: 1rem;
}

.inputSeparator:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 10px;
  width: 1px;
  background-color: #e5e7eb;
}

.text_dark {
  color: #374151;
  font-weight: 600;
  display: block;

}

.customButton {
  font-size: 18px;
  max-width: 107px;
  padding: 16.5px 10px;
  border-radius: 40px;
  border: none;
  background: #F1A501;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.customButton:hover:not(:disabled) {
  background-color: #4a148c;
  transform: translateY(-2px);
}

.customButton:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
  transform: none;
}

@media (max-width: 768px) {
  .sport_spc {
    flex-direction: column;
    min-width: 400px;
  }

  .inputSeparator {
    width: 100%;
    padding-right: 0;
  }

  .inputSeparator:not(:last-child)::after {
    display: none;
  }
} 